@page "/taxes/create"
@attribute [Authorize(Roles = "User")]

@if (Tax is null)
{
    <Loading />
}
else
{
    ﻿<MudDialog>
        <DialogContent>
                <div class="container" style="width:300px">
                    <FormTaxes @ref=FormTaxes
                                 Tax="Tax"
                                 OnSubmit="Create"
                                 ReturnAction="Return" />
                </div>
        </DialogContent>
    </MudDialog>
}

