@page "/sells/edit/{Id:int}"
@attribute [Authorize(Roles = "User")]

@if (Sell is null)
{
    <Loading />
}
else
{
    ﻿<MudDialog>
        <DialogContent>
            <div class="container" style="width:300px">
                <FormSell @ref="FormSell"
                             IsEditControl=true
                             Sell="Sell"
                             OnSubmit="Edit"
                             ReturnAction="Return" />
            </div>
        </DialogContent>
    </MudDialog>
}
